@model IEnumerable<PetStorePL.ViewModel.DiscountViewModel>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Currently Available Discounts</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
    }

</table>
