@model IEnumerable<PetStorePL.ViewModel.DiscountViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Discount List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { pettype =item.PetType, discount =item.DiscountRate}, new { onclick = "return confirm('Are sure wants to delete?');" })
        </td>
    </tr>
}

</table>
